backend/venv/
backend/data/
frontend/node_modules/
__pycache__/
*.pyc
.env
.env
.env.txt
*.env
backend/.env.txt
# Modèles Keras/TF supprimés (remplacés par XGBoost)
*.keras
backend/venv/
*.pyc
__pycache__/

# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex*
!MineAssist_PFE_FINAL.pdf
